html{
    height: 100%;
}
body{
    width: 100%;
    height: 100%;
    background-image: url("./img122.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}
.div {
    width: 100%; 
    height: 100%;   
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center; 
}
.div-text{
    max-width: 900px;
    background-color: rgba(255, 222, 255, 0.6);
    color: rgb(18, 6, 185);
    margin-top: 80px;
}
.div-text:hover{
    transform: rotate(45deg);
    transition: 2s;
}
.div-h2 {
    font-size: 32px;
}
.div-p {
    font-size: 24px;
}
.div-div {
    max-width: 900px;
    background-color: rgba(170, 9, 9, 0.5);
    margin-top: 50px;
}
.div-div:hover{
    transform: scale(150%);
    transition: 2s;
}
.div-div-h2 {
    font-size: 28px;
    color: white;
}
.div-div-p {
    font-size: 20px;
    color: rgb(103, 5, 194);
}

.div-list {
    max-width: 800px;
    background-color: rgba(16, 192, 39, 0.5);
    margin-top: 60px;
}
.div-list:hover {
    transition:2s;
    transform: translate(100px, 100px);
}
.div-list-h2 {
    font-size: 24px;
    color: white;
}
.div-list-p {
    font-size: 18px;
    color: yellow;
}

img:hover{
    width: 100%;
    height: 100%;
    transition: 2s;
    transition-delay: 1s;
    /* overflow: hidden; */
}
img:active{
    width: 50%;
    height: 50%;
}
